a, a:hover, a:active, button, button:active, button:hover, .bootstrap-select .dropdown-toggle:focus {
    outline: 0!important;
    font-family: Roboto;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.navbar-inverse {
    background: #EE312F!important;
    border: rgba(255, 255, 255, 0);
    padding: 10px 8%;
    border-radius: 1px;
}
ul {
    padding: 10px 0 0 40px;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(189, 19, 19);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loading {
    width: 100%;
    border-radius: 0;
    top: 0!important;
    right: 0!important;
    height: 100vh;
    min-height: 100vh;
    background: rgba(255,255,255,.8);
    position: absolute;
    z-index: 1039;
    top: 25px;
    right: 125px;
}

.btn{
    font-family: Roboto;
}

.btn-default, .btn-default:hover {
    background: rgba(9,9,9,0)!important;
    min-height: 40px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #fff;
    color: #fff!important;
}

.btn-primary {
    min-height: 40px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #fff;
    background: #fff;
    color: #EE312F;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover {
    background: #EE312F;
    color: #FFF;
    border: 1px solid #fff;
}

.btn-inverse:hover {
    background: #fff;
    color: #EE312F;
    border: 1px solid #EE312F;
}

.btn-inverse {
    min-height: 40px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #EE312F;
    background: #EE312F;
    color: #fff;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default.focus, .btn-default:active:hover{
    border-color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background: #fff;
}
.dropdown-menu {
    background-color: rgb(238, 49, 47);
    border: solid 1px;
    border-color: #fff;
    border-top: 0;
}
.dropdown-menu > li > a {
    color: #fff;
}

i {
    color: #fff;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

a>i:hover {
    color: #900200;
}

.navbar-toggle{
    margin-top: 22px;
}

.news {
    overflow: hidden;
    max-height: 380.844px;
    padding-bottom: 395px;
}
.ads {
    padding: 26px;
    height: 395px;
}
h2.ads {
    color: #929292;
}

img.imgNews {
    text-align: center;
    vertical-align: middle;
}

hr {
    border-top: 1px solid #EE312F;
}

.about {
    padding-bottom: 10px;
}

#nav-rodape a {
    color: #EB302C;
}
#nav-rodape a:hover {
    color: #AE1511;
    text-decoration: none;
}

@media (min-width: 1000px){
    .logo-rodape {
        border-right: .0625rem solid #EE312F;
    }
}

.fa-black{
    color: #000;
}

h2 {
    color: #EC302D;
    font-family: Roboto;
}

p {
    font-family: Roboto;
}

.form-control:focus{
    border-color: #EE312F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,49,47,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,49,47,0.6);
}